################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SocialMedia - Sociout/.vs/SocialMedia - Sociout/FileContentIndex/89ac61e1-e92b-4f9b-95f0-da7297bfc1cf.vsidx
/SocialMedia - Sociout/.vs/SocialMedia - Sociout/FileContentIndex/4dbd54fa-d5ec-4cd4-8267-76376af49020.vsidx
